@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
    format: (opentype)
}
h1,h2{
    font-family: android;
}
.conteiner{
    display: flexbox;
}
.item{
    flex-grow: 1;
}
p{
    text-align: justify;
}